/* Hacer un banner en la primera sesion, otras sesion con un avatar o una foto personal con una descdripción
Opcional o reto: hacer un footer en un nuevo componente*/

.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/fotosartistasdap.appspot.com/o/aventura3.jpg?alt=media&token=fa172856-b67b-440c-8936-9a115663f6ef");
    padding: 20% 20% 35% 20%;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index:1;
}

.banner::after{
    content: '';
    height: 100%;
    width:100%;
    background-color: black;
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    z-index: -1;
}